/.vs
/packages
/StrengthIgniter.Web/.vs
/StrengthIgniter.Web/node_modules/
/StrengthIgniter.Web/wwwroot
/StrengthIgniter.Web/bin
/StrengthIgniter.Web/obj
/StrengthIgniter.Api/bin
/StrengthIgniter.Api/obj
/StrengthIgniter.Dal/bin
/StrengthIgniter.Dal/obj
/StrengthIgniter.Models/bin
/StrengthIgniter.Models/obj
/StrengthIgniter.EmailTemplates/bin
/StrengthIgniter.EmailTemplates/obj
/StrengthIgniter.Playground/bin
/StrengthIgniter.Playground/obj
/StrengthIgniter.Service/obj
/StrengthIgniter.Service/bin
/StrengthIgniter.Core/bin
/StrengthIgniter.Core/obj
/StrengthIgniter.Dal.Test/bin
/StrengthIgniter.Dal.Test/obj