/StrengthIgniter.Core/obj
/StrengthIgniter.Web/bin
/StrengthIgniter.Web/obj
/.vs
/StrengthIgniter.Web/.vs
/StrengthIgniter.Core/bin
/StrengthIgniter.Web/node_modules/
/StrengthIgniter.Web/wwwroot
