@{
    ViewData["Title"] = "Exercises";
    Guid sectionId = Guid.NewGuid();
}

    <section id="@sectionId">

        <div class="row">
            <div class="col">
                <h1>
                    Exercises
                </h1>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <form asp-action="search" asp-controller="exercise" method="get">
                    <div class="row">
                        <div class="col">
                            <input type="search" id="txt-search" class="form-control" placeholder="Exercise Search" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot><tr><td colspan="2" class="pagination-container"></td></tr></tfoot>
                </table>
            </div>
        </div>
    </section>

@section Scripts{
    <script type="text/javascript">
        (function ($) {
            'use strict';

            var $sectionContainer = $('#@sectionId');

            var exercisePaginator = new Paginator({
                table: $sectionContainer.find('table'),
                url: 'exercise/pagedsearch',
                pageLength: 10,
                rowGenerator: function (exercise) {
                    console.log(exercise);
                    var $row = $('<tr data-reference="' + exercise.reference + '" class="clickable"></tr>')
                        .append('<td>' + exercise.name + '</td>');

                    $row.on('click', function () {
                        var $this = $(this);
                        var ref = $this.data('reference');
                        window.location = '/exercise/' + ref;
                    });

                    return $row;
                },
                showLoadingMessage: function () {
                    return '<tr><td colspan="1" style="text-align:center;">Loading</td></tr>';
                }
            });


            var init = function () {
                $sectionContainer.on('keypress', '#txt-search', supressEnterKeyPressEvent);
                $sectionContainer.on('keyup', '#txt-search', createDelayedEventHandler(txtSearchChangeEventHandler, 1000));
            }

            var txtSearchChangeEventHandler = function (e) {
                var $this = $(this);
                var searchString = $this.val();
                exercisePaginator.sendRequest({ searchString: searchString });
            }

            init();
        })(jQuery);
    </script>
}