@{
    Layout = "~/Views/Shared/_ExtLayout.cshtml";
    ViewBag.Title = "Forgot Your Passowrd - Sent";
}
    <p class="text-center">
        An email has been sent with instructions on how to reset your account. Click here to return to the <a asp-action="login">Sign-In</a> page.
    </p>