@model LoginViewModel
@{
    Layout = "~/Views/Shared/_ExtLayout.cshtml";
    ViewBag.Title = "Sign In";
}

    <form asp-action="login" method="post">
        <div class="form-group">
            <label asp-for="EmailAddress"></label>
            <input asp-for="EmailAddress" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-5">
                    <div class="form-check">
                        <input asp-for="RememberMe" type="checkbox" class="form-check-input">
                        <label asp-for="RememberMe" class="form-check-label" ></label>
                    </div>
                </div>
                <div class="col-7 text-right">
                    <a href="#" class="">Forgot your password?</a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg w-100">Login</button>
        </div>
        @if (Model != null && Model.LoginAttemptFailed)
        {
            <div class="form-group">
                <p class="alert alert-danger">Login attempt failed.</p>
            </div>
        }
        <div class="form-group text-center">
            Not registered yet? <a asp-action="register">Sign-up now</a>
        </div>
    </form>
