@{ 
    Layout = "~/Views/Shared/_ExtLayout.cshtml";
    ViewBag.Title = "Sign Up";
}
<p class="text-center">
    An email has been sent to you, please validated your account by following the link in the email. Click here to return to the <a asp-action="login">Sign-In</a> page.
</p>