@{
    Layout = "~/Views/Shared/_ExtLayout.cshtml";
    ViewBag.Title = "Account Validation";
}


    <p class="text-center">
        Your account has been validated. Click here to proceed to the <a asp-action="login">Sign-In</a> page.
    </p>