@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css" />
}

<div class="row">
    <div class="col">
        <canvas id="myChart"></canvas>
    </div>
</div>

@section Scripts{
    
    <script>

        $.get('Home/SquatChart', function (data) {

            //console.log(data);
            var dates = $.map(data, function (i) {
                return moment(i.date);
            });

            //console.log(dates);


            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    labels: dates,
                    datasets: [{
                        label: 'My First dataset',
                        fill: false,
                        borderColor: 'rgb(153, 0, 0)',
                        data: $.map(data, function (i) {
                            return { x: i.date, y: i.e1RM, reps: i.reps, weight: i.weightKg, rpe: i.rpe }
                        })
                    },
                    {
                        label: 'My Second dataset',
                        fill: false,
                        borderColor: 'rgb(255, 51, 51)',
                        data: $.map(data, function (i) {
                            return { x: i.date, y: i.rpeMax, reps: i.reps, weight: i.weightKg, rpe: i.rpe }
                        })
                    }]
                },

                // Configuration options go here
                options: {
                    tooltips: {
                        callbacks: {
                            title: function (item, data) {
                                return item[0].xLabel + ', ' + item[0].yLabel + 'kg';
                            },
                            label: function (item, data) {
                                var rec = data.datasets[item.datasetIndex].data[item.index];
                                return rec.reps + ' reps, ' + rec.weight + 'kg, RPE' + rec.rpe;
                            }
                        }
                    },
                    scales: {
                        xAxes: [{
                            type: 'time',
                            distribution: 'linear',
                            time: {
                                unit: 'week',
                            },
                            ticks: {
                                display: false,
                                min: moment.min(dates),
                                max: moment.max(dates).add(1, 'w'),
                            }
                        }],
                        yAxes: [{
                        }]
                    }
                }
            });

        });

    </script>
}