$main-background: #333;
$main-color:#fff;

body{
    background-color:$main-background;
    color:$main-color;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.card {
  background: lighten($main-background, 15%);
}

.glowing-border {
  outline: none;
  border-color: #900;
  box-shadow: 0 0 20px #900;
}
